name: Ruby

on:
  push:
    branches:
      - main
      - 'pull-req/**'
      - 'releases/**'

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby:
          - '3.1'
          - '3.2'
          - '3.3'
          - '3.4'
    env:
      MOON_HEAD: ${{ github.head_ref || github.ref_name }}
      MOON_BASE: ${{ github.base_ref || github.event.repository.default_branch }}

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: sync remote branches
        run: git fetch --prune --all
      - name: install moon
        uses: moonrepo/setup-toolchain@v0
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: lint
        run: moon ci :lint
      - name: test
        run: moon ci :spec
      - uses: moonrepo/run-report-action@v1
        if: success() || failure()
        with:
          access-token: ${{ secrets.GITHUB_TOKEN }}
